

body {
    font-size: 1.1rem;
    /* min-height: 200vh; */
    overflow-x: hidden;
}

.navbar-brand img{
    width: 15%;
}

.navbar-nav > li > a {
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
}


footer {
    background-color: black;
    min-height: 30vh;
    color: white;
}

footer > .fontawesome {
    text-align: center;
    
}
.fontawesome > a {
    color: white;
}

.fontawesome > a:hover {
    color: red;
}

@media (min-width: 1400px) {
    .navbar-brand > img {
        width: 10%;
    }  
}

@media (max-width: 1399px) {
    .navbar-brand > img {
        width: 15%;
    } 
}

@media (max-width: 1199px) {
    .navbar-brand > img {
        width: 15%;
    }
}

@media (max-width: 991px) {
    .navbar-brand > img {
        width: 20%;
    } 
}

@media (max-width: 768px) {
    .navbar-brand > img {
        width: 25%;
    }
}

@media (max-width: 575px) {
    .navbar-brand > img {
        width: 25%;
    }
}
